{% extends 'base.html' %}

{% block content %}
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <p>
        <button type="submit">Update</button> &nbsp
        <a href="{% url 'list' %}"> Cancel </a>
    </p>
    <p><a href="delete/{{ lender.id }}" style="color:#FF0000"> Delete? </a></p>
    <!-- Error Reporting -->
    {% if messages %}
    <ul class=“messages”> {% for message in messages %}
        <li {% if message.tags %} class=“{{ message.tags }}” {% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
</form>
{% endblock %}